# Environment variables for production
NODE_ENV=production

# Frontend
VITE_API_URL=https://api.jas-technologies.in

# Backend
PORT=3000
CORS_ORIGIN=https://jas-technologies.in

# SSL Configuration
SSL_CERT_PATH=/etc/nginx/ssl
SSL_KEY_PATH=/etc/nginx/ssl

a